/* Give your page a fun background color */
body {
    background-color:gray;
}
/* Make the header and footer a different color from the background */
h1 {
    background-color: orange;
}
footer {
    background-color: teal
}
/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;

}
/* Make your p tag a different color and italic */
p {
    font-style: italic;
    color: brown;
}
/* Put a border around your image */
img {
    border-style: double;
}
/* Change the font-family of your list */
list {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}